
NEXT_PUBLIC_SUPABASE_URL=https://gpnkysawiietekujccir.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdwbmt5c2F3aWlldGVrdWpjY2lyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIwNjU1MzAsImV4cCI6MjA2NzY0MTUzMH0.OvWvWOSm-_49gqDAkd0ceIJx83HVc84X7Hwti-lauK4
